.theme-light {
  --bg-color: #ffffff;
  --active-text-color: #333333;
  --inactive-text-color: rgba(51, 51, 51, 0.3);
  --border-color: rgba(51, 51, 51, 0.1);
  --hover-bg-color: rgba(79, 79, 79, 0.1);
  --menu-bg-color: #2c3e50;
  --menu-item-color: #a9acb3;
}

.theme-dark {
  --bg-color: #4F4F4F;
  --active-text-color: #ffffff;
  --inactive-text-color: rgba(255, 255, 255, 0.3);
  --border-color: rgba(255, 255, 255, 0.1);
  --hover-bg-color: rgba(255, 255, 255, 0.1);
  --menu-bg-color: #333333;
  --menu-item-color: #a9acb3;
}