:root {
  --background-color-light: #ffffff;
  --background-color-dark: #2c3e50;
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
  --menu-bg-color: #2c3e50;
  --menu-item-color-light: #a9acb3;
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --menu-bg-color: var(--menu-bg-color);
  --menu-item-color: var(--menu-item-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --menu-bg-color: var(--menu-bg-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}